---
layout: default
---   
<div class="banner_s"><img src="/Assets/upload/banner_a.jpg" alt=""/></div>
<div class="scd_bg">
	<div class="wrap scd clearfix">
    	<div class="scd_l">
        	<div class="s_top"><span>News</span></div>
            <ul class="s_nav">
            	<li><a href="/list-of-corp-news.html"><i>&nbsp;</i><span>Company News</span></a></li>
                <li><a href="/list-of-announcement.html"><i>&nbsp;</i><span>Technical Information</span></a></li>
                <li><a href="/list-of-industry-news.html"><i>&nbsp;</i><span>Industry News</span></a></li>
            </ul>
            <div class="space_hx">&nbsp;</div>
        </div>
        <div class="scd_r">
        	<div class="r_top">
            	<i>&nbsp;</i>
                <span>News<em>News</em></span>
                <div class="pst">
                	You are here：
                    <a href="/">Home</a>-
                    <a href="/news.html">News</a>
                </div>
            </div>
			<p>&nbsp;</p>
			<h2 align="center">{{ page.title }}</h2>
			{{ content }}
        </div>
    </div>
</div>